/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #d3ebf5;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b6de90;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #eef3d5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
}

img {
    object-fit: contain;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-social a {
    color: white;
    text-decoration: none;
}

.footer-social img {
    width: 24px;
    height: auto; /* 高さを自動に設定してアスペクト比を維持 */
    object-fit: contain; /* 画像が枠内に収まるようにする */
}

/* プロフィール画像と詳細 */
.profile-container {
    display: flex;
    align-items: flex-start;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    margin: 0;
}

.profile-details dt {
    font-weight: bold;
    margin-top: 10px;
}

.profile-details dd {
    margin: 0 0 10px 0;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

/* インタラクティブ要素 */
button {
    background-color: #b6de90;
    color: #333;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: black;
    border: 2px solid #b6de90;
}

a {
    text-decoration: none;
}
