/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #d3ebf5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b6de90;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none; /* ここでアンダーラインを削除 */
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #b6de90;
    color: #333;
    text-align: center;
    padding: 10px 0;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }
}

/* インタラクティブ要素 */
button {
    background-color: #b6de90;
    color: #333;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: black;
    border: 2px solid #b6de90;
}

a {
    text-decoration: none; /* すべてのリンクからアンダーラインを削除 */
}
